@charset "utf-8";
html,body,div,h2,ul,li,span,em,p,dl,dd,i,input, textarea, select, option,button,a{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
    font-family: "Microsoft Yahei","宋体", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "WenQuanYi Micro Hei", "sans-serif";
    font-size: 14px;
    background: #f7f7f7;
    height: 100%;
    overflow: hidden;
    color: #666;
}
html,body,#app{
  width: 100%;
  height: 100%;
}
ul,li{
  list-style: none;
}
h2{
  font-size: 14px;
  font-weight: normal;
}
button{
  border: none;
  cursor: pointer;
}
textarea{
  resize: none;
  border-radius: 5px;
  color: #5a5e66;
  border-color: #D8DCE5;
  width: 100%;
  padding: 10px;
  min-height: 70px;
}
input{
  outline: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
em{
  font-style: normal;
}
/*重置element*/
.el-dialog__body{
  padding: 0 !important;
}
.el-dialog, .el-message-box {
    margin-bottom: 0 !important;
    border-radius: 10px !important;
}
.el-dialog__header, .el-message-box__header {
    border-bottom: 1px solid #e0e0e0;
    padding: 11px 20px 10px !important;
    background: #f2f2f2;
    border-radius: 10px 10px 0 0;
}
.el-dialog__title, .el-message-box__title {
    font-size: 14px !important;
    color: #666 !important;
}
.dialog-footer {
    padding: 15px 20px !important;
    text-align: right;
}
.dialog-footer, .el-message-box__btns {
    border-top: 1px solid #e0e0e0;
}
.dialog-footer .el-button, .el-message-box__btns .el-button {
    padding: 8px 20px;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label{
  font-size: 14px !important;
}
.el-message-box__content {
    padding: 50px 15px !important;
}
.el-form-item__content{
  display: block !important;
  min-height: 38px !important;
}
.el-form--inline .el-form-item__content{
  display: inline-block !important;
}
.loncom_scrollbar .el-scrollbar__wrap,
.loncom_content .el-scrollbar__wrap{
  overflow-x: hidden !important;
}
.el-select{
  width: 100%;
}
.el-transfer-panel{
  width: calc(50% - 65px) !important;
}
.search .el-input-group__append, .el-input-group__prepend{
  background:#fff;
  padding: 0 10px;
}
.search .el-input__inner{
  border-right: none;
}
.search .el-input__inner:focus,.el-input__inner:hover {
  outline:none;
  border-color:#DCDFE6;   
  box-shadow:none;
}
.search_form_table .el-form-item{
  margin-bottom: 5px;
}
.el-tabs,.el-tab-pane,.loncom_tabbox{
  width: 100%;
  height: 100%;
}
.el-tabs__content{
  width: 100%;
  height: calc(100% - 55px);
}


@media (min-width: 1000px) {
  

}
@media (min-width: 1400px) {
  


}






 
