* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #EFF1F6;
}
.content ,.scrollbar {
    width: 100%;
    height: 100%;
}
